* {
    box-sizing: border-box;}


    .main-container {
        background: rgb(252, 43, 43);
        padding: 40px;
        height: 600px;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        justify-content: center;
        align-items:center;
        align-content: center;
        gap:25px;
    

    }

    .item {
        background: lightgreen;
        border: 1px dotted;
        width: 300px;
        text-align: center;


    }
.special {
    display:flex;
height:300px;
justify-content:center;
align-items:center;
}

.pink {
background:pink;
padding:10px;
border: 1px solid;

}
